.player {
    padding: 20px 50px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.player .ui-slider-range { 
	background: #7bb22a;
}

.player .ui-slider-handle{
	
}

.player .ui-state-focus{
    outline: none;
}

.player .ds_timeline_slider .ui-state-default{
	display: inline-block;
    background: url(images/sprite.png);
    background-position: -5px 0px;
    border: none;
    width: 52px;
    height: 45px;
    position: absolute;
    top: -12px;
    z-index: 3;
}

.ds_play_pause{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -22.5px;
    display: inline-block;
    width: 43px;
    height: 43px;
    cursor: pointer;
}

.ds_pause {
    background-image: url(images/sprite.png);
    background-position: -152px 0px;
    width: 100%;
    height: 100%;
}

.ds_play {
    background-image: url(images/sprite.png);
    background-position: -152px -53px;
    width: 100%;
    height: 100%;
}

.ds_timeline_block{
    position:relative;
}

.ds_timeline_slider{
	margin-left: 10px;
	width: 88%;
    height: 12px;
    border-radius: 12px;
    background-color: #bcbcbc;
    position: relative;
}

.ds_volume_slider{
    width: 8%;
    height: 8px;
    position: absolute;
    left: 88%;
    top: 22px;
}

.ds_volume_slider .ui-slider-handle{
    display: none;
}

.ds_total_time{
	position: absolute;
	right: 11%;
    padding:3px;
	font-size: 11px;
}

.ds_current_time{
	position: absolute;
	left:10px;
	padding:3px;
	font-size: 11px;
}

.ds_download{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -15px;
    display: inline-block;
    background-image: url(images/sprite.png);
    background-position: 0px -190px;
    width: 30px;
    height: 29px;
}

.ds_download :hover{
    cursor: hand;
}

.ds_load_progress_bar{
    width:0;
    height:100%;
    background-color: #ededed;
}